#name{
    border-radius: 25px;
    height: 3rem;
    background-color: rgb(251, 251, 251);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);

}

.contact-Container{
    /* background-color: rgba(255, 255, 255, 0.933); */
}

#email{
    border-radius: 25px;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);


}

#message{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.img-box{
    height: 25em;
    width: 25em;
}

.contact-btn{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);

}

.contact-img {
    background-image: url('../../assets/developer02.png');
    background-size: cover; 
    background-position: center; 
    border-radius: 10px;
    height: 55vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.form-container{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.638);
    padding: 30px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .contact-img {
        height: 40vh; 
    }
}