.project{
    width: 100vw;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.project-element {
   width: 100vw;
   max-width: 85vw;
}


.text{
    text-align: center;
    padding-top: 1rem;
}

.project-container img{
    width: 15rem;
    height: 10rem;
    margin: 0.5rem ;

}
.project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow:hidden;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #c7deb9;
    box-shadow: 4px 5px 4px -2px #b8b8b8;
    text-align: justify;

}

.project-container{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 10px;
  }

.project-text-container{
    height: 10rem;
    width: 60%;
}