.contact-text{
    width: 70vw;
    text-align: center;
    margin-left: 5.5rem;
    padding-top: 3rem;

}
.contact p{
    text-align: center;
}

.contact-deatile{
    width: 99vw;
    height: 50vh;
    text-align: center;
    background-color: #000000;
    
}


.contact-img{
    padding-bottom: 1rem;
    color: white;

}
.contact-img img{
    width: 2rem;
}
.contact-img{
    max-width: 70%;
    margin: 2rem 5.5rem;
    padding-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;

}
.contact-email-num{
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
}

.contact-email-num img:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}
